nav{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #777;
  background-color: rgb(148, 187, 245);
}

.brand, .links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img{
  width: 40px;
  margin-right: 0.6em;
}

.brand h2{
  transition: .4s;
}

.brand:hover > h2{
  color: #ffffff;
}

.links li{
  margin-right: 1em;
  list-style: none;
}

a:hover {
  color: #ffffff;
}

.links a{
  padding: 0.1em 0.3em;
}

#add a{
  color: #ffffff;
}

#add a:hover{
  background-color: #444;
}